:host {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

::ng-deep ds-file-load {
  flex: 1;
}

mat-toolbar {
  flex-shrink: 0;
}

nav {
  display: flex;
  margin: 0 auto;

  a[routerLink] {
    margin-right: 12px;
  }
}