:host {
  display: grid;
  grid-template: auto auto / auto 1fr;
  grid-column-gap: 24px;

  ::ng-deep .mat-cell, ::ng-deep .mat-header-cell {
    padding: 12px;
  }
}

.table-wrapper {
  grid-area: 2 / 2;
  overflow-x: scroll;
}

table {
  min-width: max-content;
}

.fields {
  padding: 12px;
  display: flex;
  flex-direction: column;
  grid-area: 2 / 1;
}

.fields-title {
  grid-area: 1 / 1;
}

.data-title {
  grid-area: 1 / 2;
}

h3.mat-h3 {
  margin-bottom: 6px;
}
